<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title><%= @poll.title %></title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script><%# note: can this be upgraded? %>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= render 'layouts/facebook_metadata' %>
  <link rel="icon" type="image/x-icon" href="<%= image_url 'favicon.ico' %>" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="zoom: 1;">
  <%= render 'layouts/facebook_metadata_fallback' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/old_browsers' %>

  <%= yield %>

  <script>
    <% if (params['action'] == 'show' || (@vote && @vote.errors.any?)) %>
      frozen = true;
    <% else %>
      frozen = false;
    <% end %>
  </script>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/modal' %>
</body>
</html>
